<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".AlerteTCLApplication"
        android:label="Lyon Pocket"
        android:theme="@style/Theme.AlerteTCL"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Lyon Pocket"
            android:theme="@style/Theme.AlerteTCL"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.NextDeparturesGlanceWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_next_departures_desc">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/next_departures_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.TCLBoardGlanceWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_tcl_board_desc">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tcl_board_widget_info" />
        </receiver>

        <activity
            android:name=".widget.WidgetConfigActivity"
            android:exported="true"
            android:label="Configurer le widget"
            android:theme="@style/Theme.AlerteTCL"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
